.container{
    height: 95vh;
}
main{
    display: flex;
    height: 70vh;
}
main .image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main .cover-image{
    width: 70%;
    object-fit: contain;
}
main .left-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    flex-grow: 1;
}
main h1{
     font-size: 2.2rem;
}
main p{
    font-size: 1.2rem;
}
main .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5rem .75rem 1.5rem 0rem;
}
.icon-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;
    margin: .5rem;
    height: 100%;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

@media only screen and (max-width: 600px) {
    .container {
        padding: .5rem 1rem;
    }
    .image-container img {
        max-width: 15em;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 70vh;
    }
    main .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    main .cover-image{
        width: 90%;
    }
    main .left-container{
        align-items: center;
        margin-right: 2rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }
    main h1{
        font-size: 1.5rem;
    }
    main p{
       font-size: 0.8rem;
    }
    main .icon{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin: .75rem .4rem .75rem 0rem;
    }
}