*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #2F303A;
    padding: 15px 80px;  
    height: 100vh; 
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 18px;
}
nav ul{
    list-style: none;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
}
nav a{
    padding-left: 20px;
}