*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    padding: 15px 80px;
    width: 100vw;
    height: 95vh;
    background-color: #2F303A;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    padding-left: 20px;
    font-size: 1.2rem;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
}
.body-container{
    display: flex;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}
.body-container .text{
    color: white;
    width: 40%;
    font-size: 2rem;
}
strong{
    color: #BC3A80;
    font-size: 5rem;
    font-weight: bold;
}
.body-container .form-container{
    display: flex;
    width: 50%;
    height: 60vh;
    align-items: center;
    justify-content: flex-end;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    background-color: rgb(11, 11, 12);
    color: white;
    width: 80%;
    height: 100%;
    padding: 2rem;
    border-radius: 20px;
    line-height: 1.2rem;
}
form input{
    border: 1px solid  #1762A7; 
    text-align: center;  
}
#name{
    background-color: transparent;
    padding: .4rem 0;
    border-radius: 5px;
}
#email{
    background-color: transparent;
    padding: .4rem 0;
    border-radius: 5px;
}
#password{
    background-color: transparent;
    padding: .4rem 0;
    border-radius: 5px;
}
#join-now{
    margin-top: 1rem;
    padding: .5rem 0;
    background-color: #1762A7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 5vh;
    background-color: rgb(10, 10, 10);
    padding: 0px 20px;
}
footer .footer-left{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer ul{
    list-style: none;
}
.footer-left a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding-right: 1.2rem;
}
footer .footer-right{
    display: flex;
    justify-content:right;
    align-items: flex-start;
}
footer i{
    padding-right: 5px;
}
.footer-right a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding-left: 1.2rem;
}